!dist/**

.agents/
.github/
.vscode/
assets/
node_modules/
src/
test/

!assets/icon.png
.eslintignore
.gitignore
.markdownlint.json
.oxfmtrc.json
.oxlintrc.json
esbuild.js
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
